<div class="row">
  <div class="col-md-1"></div>
  <div id="landing-container" class="col-md-4">
    <div id="work">
      <p class="menu-title" >WORK</p>
      <div class="menu-container" id="work-open">
        <a routerLink="/work/spectrum">spectrum</a>
        <a routerLink="/work/surface">surface</a>
        <a routerLink="/work/12barProject">12bar project</a>
        <a routerLink="/work/spade">spade</a>
        <a routerLink="/work/threePeaks">three peaks apothecary</a>
        <a routerLink="/work/laRams">the los angeles rams</a>
        <a routerLink="/work/apollox">apollox20</a>
        <a routerLink="/work/film">film</a>
        <a routerLink="/work/other">more</a>
      </div>
    </div>

    <div id="about">
      <p class="menu-title">ABOUT</p>
      <div class="menu-container" id="about-open">
        <p>bfa communications design</p>
        <p>syracuse university 2017</p>
        <p>college of visual + performing arts</p>
      </div>

    </div>

    <div id="contact">
      <p class="menu-title">CONTACT</p>
      <div class="menu-container" id="contact-open">
        <p>meagan rafferty:</p>
        <p>grown in los angeles, california</p>

        <p style="margin-top: 6%;">say hello:</p>
        <a style="color: #000;" href="mailto:raffertym52@gmail.com" target="_top">raffertym52@gmail.com</a>
      </div>
    </div>
  </div>
</div>
