<div class="row" id="landing">
    <div class="col-md-1"></div>
    <div id="landing-container" class="col-md-10">
        <div id="work">
            <p class="menu-title">WORK.</p>
            <div class="menu-container" id="work-open">
                <a routerLink="/work/spectrum">spectrum</a>
                <a routerLink="/work/surface">surface</a>
                <a routerLink="/work/12barProject">12bar project</a>
                <a routerLink="/work/spade">spade</a>
                <a routerLink="/work/threePeaks">three peaks apothecary</a>
                <a routerLink="/work/laRams">the los angeles rams</a>
                <a routerLink="/work/apollox">apollox20</a>
            </div>
        </div>

        <div id="experience">
            <div class="menu-container" id="experience-open">
                <a routerLink="/work/film">film</a>
                <!-- <a routerLink="/work/other">other</a> -->
                <a routerLink="/experience">experience</a>
            </div>
        </div>

        <div id="about">
            <div class="menu-container" id="about-open">
                <p>meagan rafferty:</p>
                <p>grown in los angeles, california</p>
            </div>
        </div>

        <div id="contact">
            <div class="menu-container" id="contact-open">
                <p>say hello: </p>
                <p>1.310.743.9354</p>
                <p id="click-email" (click)="db.hideEmail = !db.hideEmail"> raffertym52@gmail.com</p>
            </div>
        </div>

        <div id="school">
            <div class="menu-container" id="school-open">
                <p>ba communications design </p>
                <p>syracuse university 2017</p>
                <p>college of visual + performing arts</p>
            </div>
        </div>

        <div id="sm">
            <div class="menu-container" id="sm-open">
                <a id="linkedin">linkedin</a>
                <!-- <a id="instagram">instagram</a> -->
                <a id="vimeo">vimeo</a>
            </div>

        </div>
    </div>

    <div *ngIf="db.hideEmail" id="email-peg-container">
        <div id="email-rel">
            <img id="email-peg" [src]="pegmail">

            <label id="ename-label" for="ename">NAME:</label>
            <input id="ename-input" class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="newMail.name">

            <label id="email-label" for="email">EMAIL:</label>
            <input id="email-input" class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="newMail.email">

            <label id="msg-label" for="msg">MESSAGE:</label>
            <textarea id="msg-input" class="form-control" type="text" name="msg" #msg="ngModel" [(ngModel)]="newMail.msg"></textarea>

            <button type="button" id="send-mail" class="btn btn-outline-dark" (click)="sendMail(newMail)">send</button>
        </div>
    </div>

    <!-- <div class=" col-sm-7 menu-container" id="sm-container">
        <a id="linkedin">linkedin</a>
        <a id="instagram">instagram</a>
        <a id="vimeo">vimeo</a>
    </div> -->

</div>