<div id="we-container" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2" id="ex-title">
        <p>work experience</p>
    </div>
    <div class="col-md-9"></div>

    <div class="col-md-1"></div>
    <div class="col-md-9" id="experience-container">
        <div class="row">
            <h1 class="ex-position" id="rtr-position">creative department intern</h1>
            <h1 class="ex-position" id="ca-position">junior creative designer</h1>
            <h1 class="ex-position" id="cfall-position">web + app designer</h1>
            <div id="rtr" class="col-md-8 ex-container">
                <h4 id="rtr-title">
                    <span class="ex-company">Rent The Runway</span>
                    <span class="ex-year">2015</span>
                </h4>
                <p class="city">new york, new york</p>
                <p>may - august</p>
            </div>

            <div id="ca" class="col-md-8 ex-container">
                <h4 id="ca-title">
                    <span class="ex-company">Caruso Affiliated</span>
                    <span class="ex-year">2016</span>
                </h4>
                <p class="city">los angeles, california</p>
                <p>may - august</p>
            </div>

            <div id="cfall" class="col-md-8 ex-container">
                <h4 id="cfall-title">
                    <span class="ex-company">Community 4 All Project</span>
                    <span class="ex-year">2017</span>
                </h4>
                <p class="city">syracuse, new york</p>
                <p>may - august</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-12" id="school-container">
        <div id="school">
            <p>syracuse university</p>
            <p>the school of visual and</p>
            <p>performing arts</p>

            <p style="margin-top: 15%;">ba communications design</p>
            <p>graduating class of 2017</p>
        </div>
    </div>
</div>