#work-container {
    width: 100%;
}

.work-descript,
#spectrum-descript,
#description {
    font-family: 'Orator Std Medium';
}

#work-name {
    font-family: 'Bell Gothic Std Black';
    font-size: 4.3rem;
    -webkit-text-stroke: .4px #000;
    color: #ffebeb;
    position: fixed;
    left: 26%;
    top: 11%;
}

.work-descript {
    margin-top: 3%;
}

#spectrum-descript {
    max-width: 20%;
}

.work-img {
    width: 93%;
}

#slider-container {
    margin-top: 4%;
}

#description {
    text-align: center;
    margin: 7% 0;
}

.img-container {
    margin-bottom: 3%;
}

@media (max-width: 767.98px) {
    #work-name {
        margin-bottom: 3% !important;
    }
    .work-descript {
        margin-top: 13%;
        margin-left: 3%;
    }
}