<div *ngIf="work$ | async as work" id="work-container" class="row">
    <div id="work-name">
        {{ work.name }}
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-2 work-descript">
        <p *ngFor="let wt of (workType | async)"> {{ wt.work }} </p>
    </div>
    <div class="col-md-7"></div>

    <div class="col-md-3"></div>
    <div id="slider-container" class="col-md-7">
        <div class="img-container" *ngFor="let img of (workImgs | async); let first=first;">
            <p style="text-align:center;"><img class="work-img" [src]="img"></p>
            <div *ngIf="first && projectName != 'film'" id="description">{{ work.description }}</div>
        </div>
    </div>
</div>