<div id="edit-container" class="row">
    <div class="col-md-1"></div>
    <div id="land-edit-container" class="col-md-4">
        <div id="edit">
            <p class="menu-title">EDIT</p>
            <div class="menu-container" id="edit-open">
                <a routerLink="/edit/spectrum">spectrum</a>
                <a routerLink="/edit/surface">surface</a>
                <a routerLink="/edit/12barProject">12bar project</a>
                <a routerLink="/edit/spade">spade</a>
                <a routerLink="/edit/threePeaks">three peaks apothecary</a>
                <a routerLink="/edit/laRams">the los angeles rams</a>
                <a routerLink="/edit/apollox">apollox20</a>
                <a routerLink="/edit/film">film</a>
                <a routerLink="/edit/other">more</a>
            </div>
        </div>
    </div>
</div>