#upload-proj-container {
    font-family: 'Orator Std Medium';
    text-transform: uppercase;
    margin-bottom: 6%;
}

#add-wt {
    font-size: 1.6rem;
    float: right;
    margin-top: 4%;
}

i.fas.fa-times {
    float: right;
    margin-top: -6%;
}

.work-type {
    width: 95%;
}

#proj-descript {
    margin-top: 11%;
}

#add-img {
    font-size: 1.6rem;
    margin-top: 4%;
}

#descript {
    height: 10rem;
}