<div class="container-fluid">
    <nav class="navbar fixed-top navbar-light">
        <a *ngIf="db.showBack" id="back" class="nav-item nav-link" routerLink="/landing">back</a>
        <a *ngIf="db.showPeggy" id="back" class="nav-item nav-link" routerLink="/landing">back to site.</a>

        <a id="mr" class="nav-item nav-link" routerLink="/landing">meagan rafferty
            <span class="sr-only">(current)</span>
        </a>
        <a id="design" class="nav-item nav-link" (click)="goToAdminTools()">art/design</a>
    </nav>

    <div id="main-content">
        <router-outlet></router-outlet>
    </div>
</div>