nav>a {
    color: #000;
    font-family: 'Orator Std Medium';
    position: absolute;
    margin-top: 3%;
}

#main-content {
    position: absolute;
    top: 10%;
    width: 95%;
}

nav.navbar.fixed-top.navbar-light {
    position: relative;
}

a#mr {
    right: 30%;
}

a#design {
    right: 7%;
}

#back {
    left: 8%;
    color: #fff;
    background-color: #000;
    padding: 0px 5px;
}

@media (max-width: 767.98px) {
    #back {
        left: 0% !important;
        top: 170%;
    }
    a#design {
        right: 0% !important;
    }
    #mr {
        right: 32% !important;
    }
    /* div#main-content {
        overflow-x: hidden;
    } */
}